{% extends "base.html" %} {% block content %}

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for prato in pratos['Massas'].keys() %}
      <div class="col-md-4">
        <div height="225" width="225" class="card mb-4 shadow-sm">
          <img
            class="bd-placeholder-img card-img-top"
            src="{{ url_for('static', filename='img/'+pratos['Massas'][prato]['img']) }}"
          />

          <div class="card-body">
            <p class="btn btn-primary btn-block">Prato: {{ prato }}</p>
            <p class="card-text" style="text-align: center;">
              Preço: {{ pratos['Massas'][prato]['Preço'] }}
              <br />
              Serve: {{ pratos['Massas'][prato]['Serve'] }}
            </p>
            <div
              class="btn-group"
              role="group"
              style="margin: auto; width: 100%;"
              aria-label="Basic example"
            >
              <button type="button" class="btn btn-secondary">Pedir</button>
              <button type="button" class="btn btn-secondary">Código:</button>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>

{% endblock %}
